# Ambiente virtuale
venv/
env/
__pycache__/

# Modelli scaricati o file temporanei di Hugging Face
.cache/

# Immagini personali o dataset di test
data/imgs/*
!data/imgs/.gitkeep

data/txts/*
!data/txts/.gitkeep

# Editor di codice
.vscode/
.idea/