# Ambiente virtuale
venv/
env/
__pycache__/

# Modelli scaricati o file temporanei di Hugging Face
.cache/

# Immagini personali o dataset di test
test_images/*
!test_images/.gitkeep

test_texts/*
!test_texts/.gitkeep

# Editor di codice
.vscode/
.idea/